@using System.Security.Claims;
@model BradsWebsite.Models.DailyMessageCategoryModel

@{
    ViewData["Title"] = "Daily Messages";
}
@if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role).Value == "Daily")
{
    <a class="card-link text-dark" asp-controller="Daily" asp-action="New">Create New Safety Message</a>
    <br />
    <br />
}
@foreach (var mod in Model.Messages)
{
    <div class="card" style="">
        <div class="card-header">
            <a class="card-link text-dark" asp-controller="Daily" asp-action="Category" asp-route-id="@mod.Category">@mod.Category</a>
            
        </div>
        <div class="card-body">
            @if (@mod.Start.HasValue)
            {
                <p class="text-muted card-subtitle" style="font-size:12px">@mod.Start - @mod.End</p>
            }
            <pre>@mod.Message</pre>
            <a class="card-link text-dark" asp-controller="Daily" asp-action="View" asp-route-id="@mod.Id">Details</a>
        </div>
    </div>
    <br />
}