@using System.Security.Claims;
@model BradsWebsite.Models.DailyMessageModel

@{
    ViewData["Title"] = "Daily Message";
}
<div class="card" style="">
    <div class="card-header">
        <a class="card-link text-dark" asp-controller="Daily" asp-action="Category" asp-route-id="@Model.Category" style="float:left">@Model.Category</a>
        @if (User.Identity.IsAuthenticated && User.FindAll(ClaimTypes.Role).Where(c=>c.Value == "DAILY_MOD").Count() > 0)
        {
            <form asp-controller="Daily" asp-action="Delete" method="Post" role="form">
                <div>
                    <button style="float:right" class="btn" type="submit" name="ID" value="@Model.Id">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </form>
        }
    </div>
    <div class="card-body">
        @if (@Model.Start.HasValue)
        {
            <p class="text-muted card-subtitle" style="font-size:12px">@Model.Start - @Model.End</p>
        }
        <pre style="white-space: pre-wrap">@Model.Message</pre>
        @if (User.Identity.IsAuthenticated && User.FindAll(ClaimTypes.Role).Where(c => c.Value == "DAILY_MOD").Count() > 0)
        {
            <a class="card-link text-dark" asp-controller="Daily" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    </div>
</div>